<div class="estadisticas-container">
  <div class="estadistica-card">
    <div class="estadistica-valor">{{ estadisticas?.totalHectareas }}</div>
    <div class="estadistica-label">Hectáreas</div>
    <div class="estadistica-sublabel">Programadas</div>
  </div>

  <div class="estadistica-card">
    <div class="estadistica-valor">{{ estadisticas?.totalCultivos }}</div>
    <div class="estadistica-label">Cultivos</div>
    <div class="estadistica-sublabel">programados</div>
  </div>

  <div class="estadistica-card">
    <div class="estadistica-valor">{{ estadisticas?.simbrasActivas }}</div>
    <div class="estadistica-label">Sembría</div>
    <div class="estadistica-sublabel">activa</div>
  </div>
</div>
